@import '~@arcgis/core/assets/esri/themes/light/main.css';

:root {
  --blue: #2196F3;
  --gray: #efefef;
  --white: #fff;
  --orange: #f97d1a
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(188, 225, 250, 0.7), rgba(1, 51, 104, 0.7));
  font-family: Avenir Next W01, Avenir Next W00, Avenir Next, Avenir, Helvetica Neue, sans-serif;
}

.header {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-left {
  padding: 8px;
  display: flex;
  align-items: center;
}

.heading {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 24px;
}

#header-logo {
  height: 36%;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 8px;
  vertical-align: middle;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* map view */

#viewDiv {
  flex: 1;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

#featureSearch {
  width: 240px;
  margin: 0px;
  height: 32px;
  padding: 0 .5em;
}

#featureSearchDiv {
  visibility: hidden;
}

#slidesDiv {
  background-color: white;
  opacity: 0.9;
  color: black;
  padding: 10px;
  visibility: hidden;
  bottom: 20px;
  overflow-y: auto;
  text-align: center;
  height: 260px;
}

#slidesDiv .slide {
  /* Show cursor as pointer when on a slide */
  cursor: pointer;
  margin-bottom: 6px;
}

#slidesDiv .slide .title {
  /* Center the title text */
  text-align: center;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Draw active slide with a nice border around the thumbnail */

#slidesDiv .slide.active-slide img {
  box-shadow: 0px 0px 12px black;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

#toggleDiv {
  padding: 8px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--orange);
  ;
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--orange);
  ;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.labelText {
  padding-left: 5px;
  font-size: 15px;
}

/* loader from https://loading.io/css/ */

.lds-roller {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50vw;
  top: 45vh;
  visibility: hidden;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--blue);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.calcite-tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow-x: auto;
}

.calcite-tab {
  min-width: 100px;
  width: 150px;
  padding: 5px;
  border: darkgray;
  border-width: .5px;
  border-style: solid;
  font-size: 14px;
  background-color: #fff;
  color: #6e6e6e;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: background-color 125ms ease-in-out;
}

.calcite-tab.active-button {
  color: black;
  background: lightgray;
}

.tableContainer {
  display: none;
  flex-direction: column;
  width: 100%;
}

.tab-content {
  display: none;
}

.tab-content.active-content {
  display: block;
}

.esri-feature-table__content {
  height: 400px;
}

#tableTabs.calcite-tabs {
  background-color: var(--gray) !important;
}

#filtersDiv {
  width: 200px;
  height: 32px;
}

#combobox {
  width: 200px;
  height: 32px;
  margin: auto;
}

.esri-slider {
  min-width: 240px;
}

#opacLabel {
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.esri-slider__tick.sliderQuarterTicks {
  height: 7px;
}

.esri-slider__tick.sliderQuarterTicks:hover {
  cursor: pointer;
}

.esri-slider__tick-label.sliderQuarterLabels {
  font-size: 9px;
}

.esri-slider__tick-label.sliderQuarterLabels:hover {
  cursor: pointer;
}

.esri-slider__tick.sliderSmallTicks {
  height: 3px;
}

.esri-slider__tick.sliderSmallTicks:hover {
  cursor: pointer;
}

#basemapGalleryDiv {
  min-width: 280px;
  max-height: 400px;
}

#basemap-gallery-footer-container {
  height: auto;
  border-top: 1px #a9a9a9 solid;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 30px 30px 30px;
}

#basemap-gallery-footer {
  height: fit-content;
  margin-bottom: 10px;
}

/* Hide play button on time slider */
.esri-time-slider__animation {
  visibility: hidden !important;
  width: 0 !important;
}