<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Central Basin Map - beta</title>
  <% if (htmlWebpackPlugin.options.mode === 'production') { %>
  <script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", function () {
        navigator.serviceWorker.register("./service-worker.js")
          .catch(function () {
            console.log("Service Worker not loaded");
          });
      });
    }
  </script>
  <% } %>
  <% 
  
  %>
</head>

<body>
  <noscript> JavaScript is required in order to use this app </noscript>
  <div id="appContainer" class="app-container">
    <header class="header">
      <h2 class="heading">Central Basin Map - beta</h2>
      <div id="toggleDiv">
        <label class="switch">
          <input id="checkboxId" type="checkbox">
          <span class="slider round"></span>
        </label>
        <label class="labelText" id="labelText">Show feature table</label>
      </div>
    </header>
    <div id="viewDiv">
      <div id="timeSlider" style="width: 80vw;"></div>
      <div id="lds-roller" class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="featureSearchDiv" class="esri-widget">
      <input type="text" id="featureSearch" class="esri-input esri-feature-form__input"
        placeholder="Press Enter to Search by WRDID" />
    </div>
    <div id="slidesDiv" class="esri-widget"></div>
    <div id="tableContainer" class="tableContainer">
      <div class="calcite-tabs" layout="inline" position="above">
        <div class="calcite-tab wells2dLayer active esri-widget--button" active="" aria-expanded="true" id="wells2dTab" role="tabpanel" onclick="changeTab(evt, 'wells2dTab')">All Wells
        </div>
        <Button class="calcite-tab tceGamaLayer esri-widget--button" aria-expanded="false" id="tceGamaTab" role="tabpanel" onclick="changeTab(evt, 'tceGamaLayer')">
          GAMA TCE
        </Button>
        <Button class="calcite-tab pceGamaLayer esri-widget--button" aria-expanded="false" id="pceGamaTab" role="tabpanel" onclick="changeTab(evt, 'pceGamaLayer')">
          GAMA PCE
        </Button>
        <Button class="calcite-tab cr6GamaLayer esri-widget--button" aria-expanded="false" id="cr6GamaTab" role="tabpanel" onclick="changeTab(evt, 'cr6GamaLayer')">
          GAMA CR6
        </Button>
      </div>
      <div id="tableTab" class="tableTab">
        <div class="tab-body active-table" id="wells2dLayer" onclick="changeTab()"></div>
        <div class="tab-body" id="tceGamaLayer"></div>
        <div class="tab-body" id="pceGamaLayer"></div>
        <div class="tab-body" id="cr6GamaLayer"></div>
      </div>
    </div>
  </div>
</body>

</html>