<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Central Basin Map - beta</title>
  <% if (htmlWebpackPlugin.options.mode === 'production') { %>
  <script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", function () {
        navigator.serviceWorker.register("./service-worker.js")
          .catch(function () {
            console.log("Service Worker not loaded");
          });
      });
    }
  </script>
  <% } %>
</head>

<body>
  <noscript> JavaScript is required in order to use this app </noscript>
  <div id="appContainer" class="app-container">
    <header class="header">
      <h2 class="heading">Central Basin Map - beta</h2>
      <div id="toggleDiv">
        <label class="switch">
          <input id="checkboxId" type="checkbox">
          <span class="slider round"></span>
        </label>
        <label class="labelText" id="labelText">Show feature table</label>
      </div>
    </header>
    <div id="viewDiv">
      <div id="timeSlider" style="width: 80vw;"></div>
      <div id="lds-roller" class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="featureSearchDiv" class="esri-widget">
      <input type="text" id="featureSearch" class="esri-input esri-feature-form__input"
        placeholder="Press Enter to Search by WRDID" />
    </div>
    <div id="slidesDiv" class="esri-widget"></div>
    <div id="tableContainer" class="tableContainer">
      <calcite-tabs layout="inline" position="above">
        <!--<calcite-tab-nav slot="tab-nav" role="tablist" layout="inline" position="above">
          <calcite-tab-title active="" aria-expanded="true" id="calcite-tab-title-824599d1-8758-63d4-1b5e-f22501154704"
            role="tab" tabindex="0" layout="inline" position="above">
            Tab 1 Title
          </calcite-tab-title>
          <calcite-tab-title aria-expanded="false" id="calcite-tab-title-981b7ef0-7769-9703-10e5-fd9903dfc4a5"
            role="tab" tabindex="0" layout="inline" position="above">
            Tab 2 Title
          </calcite-tab-title>
          <calcite-tab-title aria-expanded="false" id="calcite-tab-title-9824e03b-31c8-0184-83f3-aa69ac424b97"
            role="tab" tabindex="0" layout="inline" position="above">
            Tab 3 Title
          </calcite-tab-title>
          <calcite-tab-title aria-expanded="false" id="calcite-tab-title-1297c66f-18cc-9b38-bb7b-667002644c21"
            role="tab" tabindex="0" layout="inline" position="above">
            Tab 4 Title
          </calcite-tab-title>
        </calcite-tab-nav> -->

        <calcite-tab active="" aria-expanded="true" id="calcite-tab-title-2ccbeb92-9512-f11a-b449-be55b18acca1"
          role="tabpanel">
          <p class="custom-tab esri-widget--button">Tab 1 Content</p>
        </calcite-tab>
        <calcite-tab aria-expanded="false" id="calcite-tab-title-e0f97141-7452-2f39-8214-bd1997b523b9" role="tabpanel">
          <p class="custom-tab esri-widget--button">Tab 2 Content</p>
        </calcite-tab>
        <calcite-tab aria-expanded="false" id="calcite-tab-title-9463cdac-45d0-14c7-542c-9098b4f313ca" role="tabpanel">
          <p class="custom-tab esri-widget--button">Tab 3 Content</p>
        </calcite-tab>
        <calcite-tab aria-expanded="false" id="calcite-tab-title-fd72cd1a-721b-4adc-ee49-51776fb7c417" role="tabpanel">
          <p class="custom-tab esri-widget--button">Tab 4 Content</p>
        </calcite-tab>
      </calcite-tabs>
      <div id="tableTab" class="tableTab">
        <div id="tableDiv1"></div>
        <div id="tableDiv2"></div>
        <div id="tableDiv3"></div>
      </div>
    </div>
  </div>
</body>

</html>