<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Central Basin Map</title>
  <script type="module" src="https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.esm.js">
  </script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@esri/calcite-components/dist/calcite/calcite.css" />

  <% if (htmlWebpackPlugin.options.mode==='production' ) { %>
    <script>
      // Check that service workers are registered
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", function () {
          navigator.serviceWorker.register("./service-worker.js")
            .catch(() => {
              console.log("Service Worker not loaded");
            });
        });
      }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src=https://www.googletagmanager.com/gtag/js?id=UA-32633028-1></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-32633028-1');
    </script>
    <% } %>
      <% %>
</head>

<body>

  <noscript> JavaScript is required in order to use this app </noscript>
  <div id="appContainer" class="app-container">
    <header class="header">
      <h2 id='appTitle' class="heading"></h2>
      <div id="toggleDiv">
        <label class="switch">
          <input id="checkboxId" type="checkbox">
          <span class="slider round"></span>
        </label>
        <label class="labelText" id="labelText">Show feature table</label>
      </div>
    </header>
    <div id="viewDiv">
      <div id="timeSlider" style="width: 80vw;"></div>
      <!-- Load roller for view updating -->
      <div id="lds-roller" class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <!-- Load roller for awaiting promise -->
      <div id="lds-roller2" class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="layerLegendDiv" class="esri-widget">
      <div id="llTabs" class="calcite-tabs" layout="inline" position="above">
        <button id="layers-button" class="calcite-tab wells2d esri-widget--button active-button"
          onclick="toggleLLTab()">Layers</button>
        <button id="legend-button" class="calcite-tab wells2d esri-widget--button"
          onclick="toggleLLTab()">Legend</button>
      </div>
      <div id="llDivs" class="tableDivs">
        <div id="layers-content" class="tab-content active-div esri-widget active-content"></div>
        <div id="legend-content" class="tab-content active-div esri-widget"></div>
      </div>
    </div>

    <div id="basemapDiv" class="esri-widget">
      <div id="basemapGalleryDiv" class="esri-widget"></div>
      <div id="basemap-gallery-footer-container">
        <h4 id="opacLabel">Ground transparency</h4>
        <div id="basemap-gallery-footer">
          <div id="opacitySliderDiv" class="esri-widget"></div>
        </div>
      </div>
    </div>

    <div id="featureSearchDiv" class="esri-widget">
      <input type="text" id="featureSearch" class="esri-input esri-feature-form__input"
        placeholder="Press Enter to Search by WRDID" />
    </div>
    <div id="slidesDiv" class="esri-widget"></div>
    <div id="tableContainer" class="tableContainer">
      <div id="tableTabs" class="calcite-tabs" layout="inline" position="above">
      </div>
      <div id="tableDivs" class="tableDivs">
      </div>
    </div>


    <div id="filtersDiv">
      <calcite-combobox selection-mode="single" id="combobox" placeholder="- Select one -">
        <calcite-combobox-item value="Show all" text-label="Show all wells"></calcite-combobox-item>
      </calcite-combobox>
    </div>

    <calcite-alert icon="question" label="Legend values alert" auto-close auto-close-duration="slow" kind="info"
      scale="m" id="valueAlert">
      <div slot="title">Legend values not available </div>
      <div slot="message">Legend values are not available for the selected analyte. Values
        will be generated based on
        statistics for field 'GM_RESULT'.</div>
      <calcite-link
        href="https://epa.maps.arcgis.com/home/item.html?id=b589f46083ea42058136088689a84bfd&view=list&sortOrder=desc&sortField=defaultFSOrder&showFilters=false#data"
        target="_blank" slot="link">Analytes with predefined legend values</calcite-link>
    </calcite-alert>
  </div>
</body>

</html>