<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Central Basin Map</title>
  <% if (htmlWebpackPlugin.options.mode === 'production') { %>
  <script>
    // Check that service workers are registered
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", function () {
        navigator.serviceWorker.register("./service-worker.js")
          .catch(function () {
            console.log("Service Worker not loaded");
          });
      });
    }
  </script>
  <% } %>
</head>

<body>
  <noscript> JavaScript is required in order to use this app </noscript>
  <div class="app-container">
    <header class="header">
      <h2 class="heading">Central Basin Map</h2>
      <div id="toggleDiv">
      <label class="switch">
        <input id="checkboxId" type="checkbox" checked="yes">
        <span class="slider round"></span>
      </label>
      <label class="labelText" id="labelText">Hide feature table</label>
    </div>
    </header>
    <div id="viewDiv">
      <div id="timeSlider" style="width: 80vw;"></div>
    </div>
    <div id="featureSearchDiv" class="esri-widget">
      <input type="text" id="featureSearch" class="esri-input esri-feature-form__input"
        placeholder="Press Enter to Search by WRDID" />
    </div>
    <div id="slidesDiv" class="esri-widget"></div>
    <div id="tableContainer" class="tableContainer">
      <div id="tableDiv"></div>
    </div>
  </div>
</body>

</html>